:root {
  --bisque-color: bisque;
  --black-color: #293241;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: var(--bisque-color);
  font-size: 0.3em;
  letter-spacing: 1px;
  background: orangered;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: transparent;
  display: flex;
}

.login .loginContainer {
  padding: 1rem;
  margin: auto;
  width: 100%;
  max-width: 30rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #293243,
    #272532,
    #201a22,
    #151013,
    #000000
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: var(--bisque-color);
  margin: 14px 0;
  display: block;
  font-size: 0.3em;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.3em;
  font-weight: bold;
  padding: 10px;
  background: var(--bisque-color);
  color: var(--black-color);
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: var(--bisque-color);
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 0.3em;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: var(--bisque-color);
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: var(--black-color);
}

p {
  font-size: 0.3em;
  float: left;
}
