:root {
  --bisque-color: bisque;
  --black-color: #293241;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--black-color);
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--bisque-color);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--bisque-color);
  color: var(--black-color);
  transition: 250ms;
}
