@import url("https://fonts.googleapis.com/css2?family=Share&display=swap");

:root {
  --bisque-color: bisque;
  --black-color: #293241;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.Layer-Home_container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: "Share", cursive;
}

.Layer-Home_container > h1 {
  color: white;
  font-size: 100px;
  margin-top: -100px;
}

.Layer-Home_container > p {
  margin-top: 8px;
  color: white;
  font-size: 32px;
}

@media screen and (max-width: 960px) {
  .Layer-Home_container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .Layer-Home_container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .Layer-Home_container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
